/* Set Default Starts */

* { padding : 0px;
    margin : 0px;
    box-sizing: border-box;
    font-family: sans-serif;}


html, body { width : 100%;
                height: 100%;}

html  {scroll-behavior: smooth;}

/* Set Default Ends */

                

/*  Header Starts */
header { width : 100%;
        height : 80px;
        background-color: royalblue;
        opacity: 1;
        color:white;
        display: flex; /* change back to Flex */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding : 0 20px;
        position: fixed;
        z-index: 4;
        line-height: 80px;}   


header a#logo  { color : white;
            text-decoration: none; 
            box-sizing: border-box;
            height: 72px;
            line-height: 72px;
            border : 3px solid white;
                        padding : 0px;
                        padding-right: 0px;
                        padding-left: 7px;
                text-transform: uppercase;
                letter-spacing: 12px;
                display: block;
               font-weight: bold;
                text-align: center;
                font-size: 20px}

      
        

ul#desktop-nav { margin-bottom: 0px;
                display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        height: 100%;} 


ul#desktop-nav li.nav { list-style: none;
                        
                        width: 150px;
                        height: 100%;
                        background-color: royalblue;}
                        

ul#desktop-nav li.nav a { color : white;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        background-color: royalblue;
                        display: block;
                        text-align: center;
                        line-height: 80px;
                        font-family: 'Shadows Into Light', cursive;
                        font-size: 32px;
                        font-weight: bold;
                        }




ul#mobile-nav { display:none;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: fixed;
                z-index: 4;
                width:100%;
                top:80px}


ul#mobile-nav li.nav { list-style: none;
                        width: 100%;
                        height:120px;
                        background-color: royalblue;
                        }

ul#mobile-nav li.nav a { text-decoration: none;
                            color: inherit;
                            width: 100%;
                            height: 100%;
                            background-color: royalblue;
                            color: white;
                            display: block;
                            text-align:  center;
                            line-height: 120px;
                            font-family: 'Shadows Into Light', cursive;
                            font-size: 24px;
                            }


img#whatsapp {position: fixed;
            right: 5px;
            bottom: 22px;
            transition: .5s;
            z-index: 5;
            animation: whatsappIcon 1s;
            animation-delay: 0s;
            }       

@keyframes whatsappIcon {

    from { right: -50px;
        }


    to {  right: 5px;
        }


 }
            
img#whatsapp:hover { transform: scale(1.1);
                        filter: drop-shadow(rgba(0,0,0,0.5));
                   }            

i.fa-bars { display: none;
            font-size: 32px}

/*  Header Ends */

/* Main Starts */

main {}



div.section { width : 100%;
                height: 100vh;}


#imgMe { width: 500px;
        height: 500px ;
        border-radius: 50%;
        position: relative;
        animation: myPhoto 2s linear;
        animation-iteration-count: infinite;
        }

#testHome { background-color: red}


/* @keyframes myPhoto {

    from{ transform: scale(1) ;
          }
            

    to { transform: scale(1.05)  ;
           }

}
 */


div#home { background-image: url("andromeda.jpg");
            background-repeat: repeat;
            background-size: cover;
           
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 80px;
            position: relative;
            ;
            
            }

div#profile { display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items:center ;
                width: 80%;
                height: auto;
                background-color: none;}

div#text-profile  { background-color: none;
                    height: auto;
                    width : 100%;
                    display: flex;
                    flex-direction: column; 
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 40px}   

div#text-profile h3 { font-size : 36px;
                        color : white;
                        font-weight: bold;}
                    
div#text-profile h1 span {font-family: 'Permanent Marker', cursive;
                        font-size: 65px;
                        letter-spacing: 0.5em;
                        text-transform: uppercase;
                        display: inline-block;
                        height: 70px;
                        width:100%;
                    }          
                    
p#intro { color : white;
            max-width: 600px;
          
            font-size: 32px;
            line-height: 50px;
        text-align: center;}                    

span.highlight { color :royalblue;
                font-weight: bold;
                text-decoration: none;
                font-size: 1.5em;
                }


div#readmore { width : 120px;
                height: 60px;
                background-color: royalblue;
                color : white;
                font-family: sans-serif;
                font-weight: bold;
                text-align: center;
                line-height: 60px;
                border-radius: 10px;
                /* margin: 10px auto 50px auto; */
                transition: .33s
               }


div#readmore:hover { color :royalblue;
                        background-color: white;}

div#readmore a, div#readmore:hover a{ color : inherit;
                text-decoration: none;}


div#img-profile { text-align: center;}       

div#socMed { margin: 0 auto;
            margin-top: 10px;
        color: royalblue;
        width: 100%;
        background-color: none;
        display: flex;
        justify-content: space-between;
        align-items: center;}

div.socMed-box { width: 50px;
                    height: 50px;
                    border: 1px solid blue;
                    border-radius: 50%;
                    background-color: lightgray;
                    line-height: 50px;
                    transition: 1s;}   
                    
                    
div.socMed-box:hover { background-color: rgb(4, 6, 10);
                        color : lightgray;
                        cursor: pointer;
                        animation: shake 1s;
                        animation-iteration-count: infinite;}



@keyframes shake {
                            0% { transform: translate(1px, 1px) rotate(0deg); }
                            10% { transform: translate(-1px, -2px) rotate(-1deg); }
                            20% { transform: translate(-3px, 0px) rotate(1deg); }
                            30% { transform: translate(3px, 2px) rotate(0deg); }
                            40% { transform: translate(1px, -1px) rotate(1deg); }
                            50% { transform: translate(-1px, 2px) rotate(-1deg); }
                            60% { transform: translate(-3px, 1px) rotate(0deg); }
                            70% { transform: translate(3px, 1px) rotate(-1deg); }
                            80% { transform: translate(-1px, -1px) rotate(1deg); }
                            90% { transform: translate(1px, 2px) rotate(0deg); }
                            100% { transform: translate(1px, -2px) rotate(-1deg); }
                          }

i.downBtn  { position: absolute;
                left: 50%;
                bottom: 5px;
                font-size: 36px;
                color: black;
                transform: translateX(-50%) scale(1);
                transition: all .33s;
            }  
            
            
i.downBtn:hover {transform: translateX(-50%) scale(1.1); }          

div#about {
    background-image: url("aurora.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    position: relative;
}



div#about-inside { 
    width: 100%;
    height: 100%;
    background-color: none;
    color : white;
    display: flex;
    flex-direction: column;
    align-items: center;     

}


div#aboutMe { width : 100%;
                /* min-width: 450px; */
               height: auto;
                background-color: none;
                margin:15px auto;
            }


                       

div#aboutMe h1 { 
    margin: 30px auto;
    text-align: center;
    width: 50%;}


div#aboutMe p { text-align: justify;
                max-width: 900px;
                margin: 0 auto;
                line-height: 1.5em;
                padding : 20px;
                font-size: 1.1rem;}

div#skill { width : 80%;
            height : auto;
            background-color: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top:0px;
           }   

div.skill-card { width : 320px;
                height: 500px;
                background-color: none;
                border: none; 
                transition: .33s linear;   
                transform: scale(1.0);    

              
               }


div.skill-card:hover { transform: scale(1.02);
                        filter: drop-shadow(5px 5px 5px #222);;  
                        }






                

div.skill-card-A { width: 320px;
                    height: 200px;
                    background-color: none;
                    position: relative;
                    padding-top: 30px;
                    color : black;
                    border-radius: 30px 30px 0px 0px;
                }
                
div.skill-card-A h1 { text-align: center;
                        color:white;
                       }
div.skill-card-B { width: 320px;
                    height: 300px;
                    background-color: white;
                    color : black;
                    padding-top: 50px;
                    border-radius: 0px 0px 30px 30px;
                    transition: .33s all;
                    position: relative;
                }   

div.skill-card-B p { padding : 20px;
                    text-align: justify;}

div.skill-card-B small { position: absolute;
                            left : 20px;
                            bottom: 20px;
                        background-color: royalblue;
                        color : white;
                        font-weight: bold;
                        padding: 15px;
                        border-radius: 10px;
                        border: 2px solid royalblue;} 
                        
                        
div.skill-card-B small:hover { background-color: white;
                                color : royalblue}



div#skill-card-A-1 { background-image: url("frontendbg.jpg");
                    background-size: cover;
                    background-position: 0 -25px;}

div#skill-card-A-2 { background-image: url("backendbg.jpg");
                    background-size: cover;
                    background-position: 0 -25px;}

div#skill-card-A-3 { background-image: url("datasciencebg.JPG");
                    background-size: cover;
                    background-position: 0 -25px;}



                    
.icon-skill { position: absolute;
               left:50%;
               top:100%;
               transform:translateX(-50%) translateY(-50%);
                    width: 110px;
                    height: 110px;
                    border-radius: 50%;
                    border: 5px white solid;
                z-index: 2;
                transition: .33s all;
                }  
                
                
div.skill-card:hover .icon-skill   { transform: translateX(-50%) translateY(-50%) rotateX(90deg);}            

div.skill-card:hover .skill-card-B { padding-top : 10px}




div#project {
    background-image: url(orion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80px; /*change if nessscary*/
    display:flex;
    justify-content: center;
    align-items: center;
}


div#project-inside { width : 100%;
                      height: 100%;
                      position: relative;
                        overflow: hidden;
                   }


div#slider {  background-color: white;
        width : 100%;
        height: 100%;
    opacity: 1; 
    white-space: nowrap; 
    transition: all 1s;
   }

div.carousel { display : inline-block;
                width : 100%;
                height: 100%;
                background-color: none;
                background-size: cover;
                background-repeat: no-repeat;
               } 
                
                
#carousel-1{background-color: grey;
                position:relative }               
#carousel-2{background-image: url(A_desktop.JPG); background-position: 0% 0%;}                
#carousel-3{background-image: url(B_desktop.JPG); background-position: 0% 0%;}               
#carousel-4{background-image: url(C_desktop.JPG);background-position: 0% 0%;}                
#carousel-5{background-image: url(D_desktop.JPG);background-position: 0% 0%;} 

#carousel-1 h1#desktop-click-right { background-color: none;
                color : white;
                position: absolute;
                top : 50%;
                left : 50%;
                transform: translateX(-50%) translateY(-50%) ;
                display: none;}

#carousel-1 div#mobile-click-right { position: absolute;
                                    top : 50%;
                                    left : 50%;
                                    transform: translateX(-50%) translateY(-50%) ;
                                    display: block;
                                    z-index: 2;
                                    color : white;
                                    width : 400px;
                                    height: 400px;
                                  }              
                                  
#carousel-1 div#mobile-click-right h1 { width : 320px;}                     

div#project-inside i { position: absolute;
                    top : 50%;
                    font-size: 32px;
                    z-index: 3

                ;}   

div#project-inside i.fa-angle-right {right : 50px ;
                                        transform: scale(1);
                                        font-size: 64px;
                                        color : black}            
div#project-inside i.fa-angle-left { left : 50px;
                                     transform: scale(1);
                                     font-size: 64px;
                                    color : black;}       

div#project-inside i.fa-angle-right:hover {  transform: scale(1.1);}                                   
div#project-inside i.fa-angle-left:hover {  transform: scale(1.1);}                                   
                                     
                                     
div#pagination-holder { width : 300px;
                        height: 30px;
                        background-color: none;
                        position: absolute;
                        bottom:50px;
                        left : 50%;
                        transform: translateX(-50%);}   
                        
                        
div#pagination-holder ul { list-style: none;
                            width : 100%;
                            height: 100%;
                            background-color: none;
                            opacity: 0.5;
                            display: flex;
                            flex-direction: left;
                            justify-content: space-between;
                            align-items: center;}     
                            
div#pagination-holder ul li { width : 20px;
                            height: 20px;
                            background-color: black;
                            border-radius: 50%;}    
                            
#pagination-holder ul li.active { background-color: yellow;
                                transform: scale(1.2);}     

#pagination-holder ul li.active { background-color: yellow;
                                transform: scale(1.2);}

div#contact {
    background-image: url("shootingstar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    position: relative;
    padding-top:80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
}




#contactForm { width : 100%;
                height : 700px;
                background-color: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;}


#contactForm h1, #contactForm h3 { text-align: center;
                                    color:white;}      

#contactForm ul { width : 100%;
                    height : 550px;
                    background-color: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;}     

#contactForm ul li { position: relative;
                    list-style-type: none;}   

#contactForm ul li input { padding : 10px;
                         padding-left : 48px;
                        opacity: 0.5;
                        border-radius: 8px;}
                        
#contactForm ul li textarea { padding : 10px;
                                resize: none;
                                opacity: 0.5;
                                border-radius: 8px;}

#contactForm ul li input:focus { outline: none;}
   


#contactForm ul li i { position: absolute;
    top : 16px;
    left : 16px;
}         



#contactForm ul li#Btn input { padding : 10px 60px;
                                    color:white;
                                    background-color: royalblue;
                                    font-weight: bold;
                                    border: 3px solid royalblue;
                                    opacity: 1;
                                    border-radius: 8px;
                                    box-sizing: border-box;
                                    transition: .33s all;}


#contactForm ul li#Btn input:hover { background-color: white;
                                        color : royalblue;
                                }                                    


i.fa-arrow-circle-up { position: absolute;
                        color : red;
                        background-color: none;
                        font-size: 40px;
                        left : 5px;
                        bottom : 5px;
                        animation: upIcon 1s;
                        animation-delay: 0s;}                                



@keyframes upIcon {

    from { left: -50px;
            }
                        
                        
    to {  left: 5px;
            }
                        
                        
    }


    div#mapBox  {height: 700px;
                background: none;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 16px;
                }
    div#mapBox h1, div#mapBox h3 {color : white;
                    text-align: center;
                    ; }




  div#map350{ background-color: none;
                display: none;}
  div#map500{ background-color: none;
                display: block;}

    
                        



/* Main Ends */



/* Footer Starts */

footer{ width : 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;

        height:20px;}

footer p {color :white;
        font-size: 12px;
            text-align: center;
            background-color: none;
            display: inline-block;
            margin: 0 auto;}        




 /* Mobile Reposniveness Starts */

@media (max-width:600px){


    i.fa-bars { display: block;}

    ul#desktop-nav { display: none;}
    
    header { height : 80px;}

    

    div#profile { flex-direction: column-reverse;}

    div#img-profile { margin-bottom: 20px;}

    #imgMe { width: 250px;
            height: 250px;}


    div#skill { flex-direction: column;}

    div.skill-card { margin-bottom: 20px;} 

    div#home { height: 100vh;
                background-position: 50% 0%}

     div#about { height: auto;
                padding: 0 10px;
                 padding-top: 80px;}

    div#lastcard { margin-bottom: 50px;}


    div#contact { flex-direction: column;
                    height : auto;}


    div#map350{ display:block;
                margin-bottom:40px;}
                      
                        
                     
    div#map500{ display: none;}

    footer p { font-size : 8px;}


    div#carousel-1 p{ width : 100%;
                        word-wrap: break-word;
                        display: block;}
    
    div#carousel-2{content: url("A_mobile.JPG");}
    div#carousel-3{content: url("B_mobile.JPG");}
    div#carousel-4{content: url("C_mobile.JPG");}
    div#carousel-5{content: url("D_mobile.JPG");}
                            

                
    }

 /* Mobile Reposniveness Ends */